// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

html,
body {
  height: 100%
}

.cards-item{
    img{
        width: 200px;
        height: auto;
        object-fit: cover;
    }
}